@media only screen and (max-width:600px) {
    .box_top{
        height: 60px;
        font-size: 20px;
    }

    .players_buts{
        gap: 12px;
    }

    .box-Palyer button{
        font-size: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .box-Palyer{
        padding: 20px 10px 20px 10px;
    }

    .creator{
        display: none;
    }

    h2{
        font-size: 17px;
    }

    .random_box{
        width: 194px;
        height: 284px;
    }
    
    .random_Counter {
        width: 90%;
        height: 400px;
    }

}